<% if @subsidiary.errors.any? %>
  <% @subsidiary.errors.full_messages.each do |message| %>
    <p><%= message %></p></br>
  <% end %>
<% end %>


<% if current_user.admin? %>
  <%= form_for (subsidiary) do |m| %>

  <P>
      <%= m.label :name, 'Nome' %></br>
      <%= m.text_field :name  %>
  </p>
  <P>
      <%= m.label :cnpj, 'CNPJ' %></br>
      <%= m.text_field :cnpj  %>
  </p>
  <P>
      <%= m.label :address, 'Endereço' %></br>
      <%= m.text_field :address  %>
  </p>
  <P>
      <%= m.submit 'Enviar' %>
  </p>

  <% end %>
<% end %>  