<h1>Registrar Categorias de Carros</h1>


<%= form_for @carcategory, :url => carcategories_path do |f| %>

<p>
<%= f.label :name, 'Nome' %></br>
<%= f.text_field :name %>
</p>
<p>
  <%= f.label :daily_rate, 'Diária' %></br>
  <%= f.text_field :daily_rate %>
</p>
<p>
  <%= f.label :car_insurance, 'Seguro' %></br>
  <%= f.text_field :car_insurance %>
</p>
<p>
  <%= f.label :third_party_insurance, 'Seguro de terceiros' %></br>
  <%= f.text_field :third_party_insurance %>
</p>

  <%= f.submit 'Enviar' %>
  
<% end %>