
<h1><%= @carcategories.name %></h1>
<p>Diária: <%= @carcategories.daily_rate %></p>
<p>Seguro do Automóvel: <%= @carcategories.car_insurance %></p>
<p>Seguro Terceirizado: <%= @carcategories.third_party_insurance %></p>

<%= link_to "Voltar", root_path %>