<% if @car.errors.any? %>
  <% @car.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for (car) do |f| %>
<p>
  <%= f.label :license_plate, 'Placa' %>
  <%= f.text_field :license_plate %>
</p>

<p>  
  <%= f.label :color, 'Cor' %>
  <%= f.text_field :color %>
</p>

<div>
  <%= f.label :car_model_id, 'Modelo' %>
  <%= f.collection_select(:car_model_id, @carmodels, :id, :name) %>
</div>

<p>
  <%= f.label :mileage, 'Quilometragem' %>
  <%= f.text_field :mileage %>
</p>  
  
<div>  
  <%= f.label :subsidiary_id, 'Filial' %>
  <%= f.collection_select(:subsidiary_id, @subsidiaries, :id, :name) %>
</div>

<p>
  <%= f.submit 'Enviar' %>
</p>  
<% end %>