<h1>Carros</h1>

<h1>Modelo: <%= @car.car_model.name %></h1>
<p>Placa: <%= @car.license_plate %></p>
<p>Cor: <%= @car.color %></p>
<p>Quilometragem: <%= @car.mileage %></p>
<p>Filial: <%= @car.subsidiary.name %></p>


<p><%= link_to 'Voltar', root_path %></p>
<p><%= link_to 'Editar', edit_car_path(@car) %></p>
<p><%= link_to 'Deletar', car_path(@car), method: :delete, data: { confirm: "Confirma exclusão do Carro: #{@car.license_plate}?" } %></p>