<% if @manufacturer.errors.any? %>
  <% @manufacturer.errors.full_messages.each do |message| %>
    <p><%= message %></p></br>
  <% end %>
<% end %>


<%= form_for (manufacturer) do |m| %>

<P>
    <%= m.label :name, 'Nome' %></br>
    <%= m.text_field :name  %>
</p>
<P>
    <%= m.submit 'Enviar' %>
</p>
<% end %>